{% extends 'core/base.html' %} 
{%block title%}
Welcome
{% endblock %}
{% load static%}
{% block content %}
<body>
   <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
    
    <div class="cont">
        <div class="form">
            <h1>Sign Up </h1>
        <form method="POST" action="{% url 'register'%}">
                {% csrf_token%}

                {{ form.as_p }}

                <button type="submit" calss="btn btn-secondary">
                    register
                </button>
        </div>
        <div class="f">
            sukri&kalas sukri&kalas 
            sukri&kalassukri&kalas
        </div>
    </div>

</body>
{% endblock%}