{% extends 'core/base.html' %} 
{%block title%}
Welcome
{% endblock %}
{% load static%}
{% block content %}
<body>
   <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
    
    <div class="cont">
        <div class="form">
            <h1>Update Profile </h1>
        <form method="POST" action="{% url 'update_user'%}">
                {% csrf_token%}

                {{ user_form.as_p }}

                <button type="submit" calss="btn btn-secondary">
                    update
                </button>
        </form>
        <a id="update_password" href="{% url 'update_password'%}"> update Password</a>
        </div>
        <div class="f">
            sukri&kalas sukri&kalas 
            sukri&kalassukri&kalas
        </div>
    </div>

</body>
{% endblock%}